In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [26]:
import warnings

warnings.filterwarnings('ignore')

In [27]:
data = pd.read_csv(r"C:\Users\Shaik Sakhlaih\Downloads\Wholesale customers data.csv")
data

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [28]:
data.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [29]:
data.tail()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [30]:
data.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [31]:
data.isnull().sum()

Channel             0
Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

In [33]:
x = data.drop(['Channel'],axis=1)
y = data['Channel']

In [34]:
x.head()

   Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0       3  12669  9656     7561     214              2674        1338
1       3   7057  9810     9568    1762              3293        1776
2       3   6353  8808     7684    2405              3516        7844
3       3  13265  1196     4221    6404               507        1788
4       3  22615  5410     7198    3915              1777        5185

In [35]:
y.head()

0    2
1    2
2    2
3    1
4    2
Name: Channel, dtype: int64

In [36]:
y[y == 2] = 0

y[y == 1] = 1

In [37]:
y.head()

0    0
1    0
2    0
3    1
4    0
Name: Channel, dtype: int64

In [38]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\devad\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Requirement already satisfied: numpy in c:\users\devad\appdata\local\programs\python\python312\lib\site-packages (from xgboost) (2.1.3)
Requirement already satisfied: scipy in c:\users\devad\appdata\local\programs\python\python312\lib\site-packages (from xgboost) (1.14.1)

In [39]:
import xgboost as xgb

data_dmatrix = xgb.DMatrix(data=x,label=y)

In [40]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [42]:
from xgboost import XGBRegressor

In [ ]:
# Declare parameters
params = {
    'objective': 'binary:logistic',
    'max_depth': 4,
    'alpha': 10,
    'learning_rate': 0.1,
    'n_estimators': 100
}

# Initialize the classifier
xgb_clf = XGBRegressor(**params)

# Fit the model
xgb_clf.fit(x_train, y_train)

In [43]:
print(xgb_clf)

XGBRegressor(alpha=10, base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.1, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=4, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=100, n_jobs=None,
             num_parallel_tree=None, ...)

In [44]:
y_pred = xgb_clf.predict(x_test)

In [45]:
y_pred

array([0.38367882, 0.1710341 , 0.93148434, 0.1710341 , 0.9263691 ,
       0.18762222, 0.18762222, 0.8407435 , 0.93148434, 0.93148434,
       0.1710341 , 0.1710341 , 0.93148434, 0.9191101 , 0.93148434,
       0.93148434, 0.1710341 , 0.6597605 , 0.9191101 , 0.894143  ,
       0.8158882 , 0.1710341 , 0.9071901 , 0.93148434, 0.93148434,
       0.93148434, 0.18762222, 0.9263691 , 0.6597605 , 0.88047504,
       0.93148434, 0.27770802, 0.9071901 , 0.93148434, 0.93148434,
       0.1710341 , 0.17502175, 0.93148434, 0.93148434, 0.9071901 ,
       0.9075779 , 0.9263691 , 0.93148434, 0.1710341 , 0.9263691 ,
       0.17502175, 0.1710341 , 0.93148434, 0.9263691 , 0.93148434,
       0.93148434, 0.9231449 , 0.1710341 , 0.18724544, 0.552754  ,
       0.92669255, 0.93148434, 0.9263691 , 0.36630127, 0.92124975,
       0.93148434, 0.1710341 , 0.93148434, 0.18762222, 0.20667379,
       0.20833659, 0.1710341 , 0.9071901 , 0.3949015 , 0.1710341 ,
       0.93148434, 0.92468876, 0.33683744, 0.93148434, 0.9263691 ,
       0.9263691 , 0.93148434, 0.93148434, 0.54695326, 0.86681473,
       0.1710341 , 0.93148434, 0.17502175, 0.93148434, 0.1710341 ,
       0.36552292, 0.8100345 , 0.93148434, 0.1710341 , 0.33683744,
       0.871884  , 0.93148434, 0.91011757, 0.93148434, 0.70573306,
       0.9162597 , 0.93148434, 0.8928124 , 0.93148434, 0.91160023,
       0.8554359 , 0.34738463, 0.9075779 , 0.93148434, 0.7203207 ,
       0.9231449 , 0.93148434, 0.56528896, 0.8964414 , 0.7286    ,
       0.18762222, 0.93148434, 0.9263691 , 0.1710341 , 0.93148434,
       0.93148434, 0.9263691 , 0.93148434, 0.5854273 , 0.9263691 ,
       0.1919071 , 0.1710341 , 0.18030298, 0.534645  , 0.63400704,
       0.44135603, 0.93148434, 0.91396236, 0.93148434, 0.7846859 ,
       0.93148434, 0.92138076], dtype=float32)

In [46]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print("The mean squared error :",mse)

The mean squared error : 0.08537757396697998

In [47]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print("The r2 score error :",r2)

The r2 score error : 0.6239588260650635