In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv(r"C:\Users\devad\Downloads\kbobattingdata.csv")
data

,year,team,average_batter_age,runs_per_game,games,plate_appearances,at_bats,runs,hits,doubles,...,batting_average,OBP,SLG,OPS,total_bases,GDP,HBP,sacrifice_hits,sacrifice_flies,IBB
0,2021,SSG Landers,30.9,5.26,143,5698,4864,752,1268,203,...,0.261,0.354,0.421,0.775,2049,104,93,55,52,23.0
1,2021,Doosan Bears,29.0,5.13,143,5606,4867,733,1306,234,...,0.268,0.350,0.391,0.741,1901,137,86,45,52,12.0
2,2021,Lotte Giants,29.0,5.06,143,5689,4978,723,1384,263,...,0.278,0.356,0.399,0.755,1985,114,53,37,45,18.0
3,2021,Kiwoom Heroes,27.1,5.01,143,5610,4839,716,1250,243,...,0.258,0.347,0.376,0.722,1819,92,93,34,55,17.0
4,2021,KT Wiz,29.4,4.97,143,5581,4773,711,1263,217,...,0.265,0.356,0.380,0.736,1814,105,58,68,43,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,1982,MBC Blue Dragons,28.1,5.24,80,3060,2686,419,757,124,...,0.282,0.354,0.410,0.764,1100,56,47,32,27,NaN
319,1982,OB Bears,24.6,4.99,80,3097,2745,399,778,137,...,0.283,0.349,0.412,0.762,1132,36,41,46,18,NaN
320,1982,Haitai Tigers,24.8,4.68,80,2990,2665,374,696,110,...,0.261,0.328,0.408,0.736,1086,59,41,28,21,NaN
321,1982,Lotte Giants,26.4,4.41,80,3062,2628,353,674,112,...,0.257,0.344,0.373,0.717,979,61,40,41,27,NaN
322,1982,Sammi Superstars,24.3,3.78,80,2953,2653,302,637,117,...,0.240,0.304,0.345,0.648,914,44,29,31,19,NaN

In [4]:
data.head()

,year,team,average_batter_age,runs_per_game,games,plate_appearances,at_bats,runs,hits,doubles,...,batting_average,OBP,SLG,OPS,total_bases,GDP,HBP,sacrifice_hits,sacrifice_flies,IBB
0,2021,SSG Landers,30.9,5.26,143,5698,4864,752,1268,203,...,0.261,0.354,0.421,0.775,2049,104,93,55,52,23.0
1,2021,Doosan Bears,29.0,5.13,143,5606,4867,733,1306,234,...,0.268,0.350,0.391,0.741,1901,137,86,45,52,12.0
2,2021,Lotte Giants,29.0,5.06,143,5689,4978,723,1384,263,...,0.278,0.356,0.399,0.755,1985,114,53,37,45,18.0
3,2021,Kiwoom Heroes,27.1,5.01,143,5610,4839,716,1250,243,...,0.258,0.347,0.376,0.722,1819,92,93,34,55,17.0
4,2021,KT Wiz,29.4,4.97,143,5581,4773,711,1263,217,...,0.265,0.356,0.380,0.736,1814,105,58,68,43,27.0

In [5]:
data.tail()

,year,team,average_batter_age,runs_per_game,games,plate_appearances,at_bats,runs,hits,doubles,...,batting_average,OBP,SLG,OPS,total_bases,GDP,HBP,sacrifice_hits,sacrifice_flies,IBB
318,1982,MBC Blue Dragons,28.1,5.24,80,3060,2686,419,757,124,...,0.282,0.354,0.410,0.764,1100,56,47,32,27,NaN
319,1982,OB Bears,24.6,4.99,80,3097,2745,399,778,137,...,0.283,0.349,0.412,0.762,1132,36,41,46,18,NaN
320,1982,Haitai Tigers,24.8,4.68,80,2990,2665,374,696,110,...,0.261,0.328,0.408,0.736,1086,59,41,28,21,NaN
321,1982,Lotte Giants,26.4,4.41,80,3062,2628,353,674,112,...,0.257,0.344,0.373,0.717,979,61,40,41,27,NaN
322,1982,Sammi Superstars,24.3,3.78,80,2953,2653,302,637,117,...,0.240,0.304,0.345,0.648,914,44,29,31,19,NaN

In [6]:
data.describe()

,year,average_batter_age,runs_per_game,games,plate_appearances,at_bats,runs,hits,doubles,triples,...,batting_average,OBP,SLG,OPS,total_bases,GDP,HBP,sacrifice_hits,sacrifice_flies,IBB
count,323.000000,323.000000,323.00000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,...,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,184.000000
mean,2002.944272,27.785759,4.61161,128.142415,4919.773994,4293.430341,595.095975,1146.535604,197.798762,21.139319,...,0.266207,0.341700,0.395248,0.736882,1706.359133,97.151703,66.027864,75.037152,37.368421,17.788043
std,11.501957,1.335393,0.73503,12.996350,585.491296,508.741014,132.387325,179.164714,39.628473,8.154702,...,0.015558,0.017005,0.038147,0.052787,318.395835,18.809569,20.232864,25.553838,10.760400,6.200094
min,1982.000000,24.300000,2.71000,80.000000,2953.000000,2628.000000,302.000000,637.000000,110.000000,3.000000,...,0.219000,0.293000,0.301000,0.595000,914.000000,36.000000,24.000000,21.000000,11.000000,5.000000
25%,1993.000000,26.800000,4.00500,126.000000,4658.000000,4074.500000,495.500000,1028.000000,170.500000,15.000000,...,0.255000,0.329000,0.366500,0.698000,1490.000000,85.000000,51.500000,56.000000,30.000000,14.000000
50%,2003.000000,27.900000,4.59000,128.000000,4963.000000,4317.000000,590.000000,1143.000000,197.000000,20.000000,...,0.267000,0.342000,0.391000,0.733000,1673.000000,96.000000,65.000000,74.000000,37.000000,17.000000
75%,2013.000000,28.900000,5.15500,133.000000,5267.500000,4569.000000,693.500000,1264.000000,222.000000,26.000000,...,0.276500,0.355000,0.421500,0.774500,1928.000000,111.000000,80.000000,91.000000,44.000000,21.250000
max,2021.000000,30.900000,6.57000,144.000000,5870.000000,5176.000000,944.000000,1601.000000,304.000000,62.000000,...,0.309000,0.382000,0.509000,0.891000,2518.000000,148.000000,130.000000,153.000000,83.000000,39.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                323 non-null    int64
 1   team                323 non-null    object
 2   average_batter_age  323 non-null    float64
 3   runs_per_game       323 non-null    float64
 4   games               323 non-null    int64
 5   plate_appearances   323 non-null    int64
 6   at_bats             323 non-null    int64
 7   runs                323 non-null    int64
 8   hits                323 non-null    int64
 9   doubles             323 non-null    int64
 10  triples             323 non-null    int64
 11  homeruns            323 non-null    int64
 12  RBI                 323 non-null    int64
 13  stolen_bases        184 non-null    float64
 14  caught_stealing     184 non-null    float64
 15  bases_on_balls      323 non-null    int64
 16  strikeouts          323 non-null    int64
 17  batting_average     323 non-null    float64
 18  OBP                 323 non-null    float64
 19  SLG                 323 non-null    float64
 20  OPS                 323 non-null    float64
 21  total_bases         323 non-null    int64
 22  GDP                 323 non-null    int64
 23  HBP                 323 non-null    int64
 24  sacrifice_hits      323 non-null    int64
 25  sacrifice_flies     323 non-null    int64
 26  IBB                 184 non-null    float64
dtypes: float64(9), int64(17), object(1)
memory usage: 68.3+ KB

In [8]:
data.isnull().sum()

year                    0
team                    0
average_batter_age      0
runs_per_game           0
games                   0
plate_appearances       0
at_bats                 0
runs                    0
hits                    0
doubles                 0
triples                 0
homeruns                0
RBI                     0
stolen_bases          139
caught_stealing       139
bases_on_balls          0
strikeouts              0
batting_average         0
OBP                     0
SLG                     0
OPS                     0
total_bases             0
GDP                     0
HBP                     0
sacrifice_hits          0
sacrifice_flies         0
IBB                   139
dtype: int64

In [12]:
data['stolen_bases'] = data['stolen_bases'].fillna(data['stolen_bases']).mode()[0]

In [13]:
data['caught_stealing'] = data['caught_stealing'].fillna(data['caught_stealing']).mode()[0]

In [14]:
data['IBB'] = data['IBB'].fillna(data['IBB']).mode()[0]

In [15]:
data.isnull().sum()

year                  0
team                  0
average_batter_age    0
runs_per_game         0
games                 0
plate_appearances     0
at_bats               0
runs                  0
hits                  0
doubles               0
triples               0
homeruns              0
RBI                   0
stolen_bases          0
caught_stealing       0
bases_on_balls        0
strikeouts            0
batting_average       0
OBP                   0
SLG                   0
OPS                   0
total_bases           0
GDP                   0
HBP                   0
sacrifice_hits        0
sacrifice_flies       0
IBB                   0
dtype: int64

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                323 non-null    int64
 1   team                323 non-null    object
 2   average_batter_age  323 non-null    float64
 3   runs_per_game       323 non-null    float64
 4   games               323 non-null    int64
 5   plate_appearances   323 non-null    int64
 6   at_bats             323 non-null    int64
 7   runs                323 non-null    int64
 8   hits                323 non-null    int64
 9   doubles             323 non-null    int64
 10  triples             323 non-null    int64
 11  homeruns            323 non-null    int64
 12  RBI                 323 non-null    int64
 13  stolen_bases        323 non-null    float64
 14  caught_stealing     323 non-null    float64
 15  bases_on_balls      323 non-null    int64
 16  strikeouts          323 non-null    int64
 17  batting_average     323 non-null    float64
 18  OBP                 323 non-null    float64
 19  SLG                 323 non-null    float64
 20  OPS                 323 non-null    float64
 21  total_bases         323 non-null    int64
 22  GDP                 323 non-null    int64
 23  HBP                 323 non-null    int64
 24  sacrifice_hits      323 non-null    int64
 25  sacrifice_flies     323 non-null    int64
 26  IBB                 323 non-null    float64
dtypes: float64(9), int64(17), object(1)
memory usage: 68.3+ KB

In [17]:
data['team'].value_counts()

team
Samsung Lions            40
Lotte Giants             40
LG Twins                 32
Hanwha Eagles            28
Doosan Bears             23
Kia Tigers               21
SK Wyverns               21
Haitai Tigers            19
OB Bears                 17
Hyundai Unicorns         12
Ssangbangwool Raiders     9
Nexen Heroes              9
NC Dinos                  9
Binggre Eagles            8
MBC Blue Dragons          8
Pacific Dolphins          8
KT Wiz                    7
Kiwoom Heroes             3
Sammi Superstars          3
Chungbo Pintos            3
Woori Heroes              2
SSG Landers               1
Name: count, dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['team'] = le.fit_transform(data['team'])

In [19]:
data

,year,team,average_batter_age,runs_per_game,games,plate_appearances,at_bats,runs,hits,doubles,...,batting_average,OBP,SLG,OPS,total_bases,GDP,HBP,sacrifice_hits,sacrifice_flies,IBB
0,2021,17,30.9,5.26,143,5698,4864,752,1268,203,...,0.261,0.354,0.421,0.775,2049,104,93,55,52,17.0
1,2021,2,29.0,5.13,143,5606,4867,733,1306,234,...,0.268,0.350,0.391,0.741,1901,137,86,45,52,17.0
2,2021,10,29.0,5.06,143,5689,4978,723,1384,263,...,0.278,0.356,0.399,0.755,1985,114,53,37,45,17.0
3,2021,8,27.1,5.01,143,5610,4839,716,1250,243,...,0.258,0.347,0.376,0.722,1819,92,93,34,55,17.0
4,2021,6,29.4,4.97,143,5581,4773,711,1263,217,...,0.265,0.356,0.380,0.736,1814,105,58,68,43,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,1982,11,28.1,5.24,80,3060,2686,419,757,124,...,0.282,0.354,0.410,0.764,1100,56,47,32,27,17.0
319,1982,14,24.6,4.99,80,3097,2745,399,778,137,...,0.283,0.349,0.412,0.762,1132,36,41,46,18,17.0
320,1982,3,24.8,4.68,80,2990,2665,374,696,110,...,0.261,0.328,0.408,0.736,1086,59,41,28,21,17.0
321,1982,10,26.4,4.41,80,3062,2628,353,674,112,...,0.257,0.344,0.373,0.717,979,61,40,41,27,17.0
322,1982,18,24.3,3.78,80,2953,2653,302,637,117,...,0.240,0.304,0.345,0.648,914,44,29,31,19,17.0

In [20]:
x = data.iloc[:, [3, 4]].values

In [21]:
from sklearn.cluster import DBSCAN 

from sklearn.preprocessing import StandardScaler

In [22]:
db = DBSCAN(eps=3,min_samples=4)

In [23]:
model = db.fit(x)

In [24]:
labels=model.labels_
labels

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6])

In [25]:
from sklearn import metrics

In [26]:
sample_cores=np.zeros_like(labels,dtype=bool)

In [27]:
sample_cores

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

In [28]:
print(metrics.silhouette_score(x,labels))

0.865975487865637